In [2]:
from newsapi import NewsApiClient

api = NewsApiClient(api_key = 'e294c16fe2524d5c80f9d979305894b2')

global_news = api.get_everything(q = 'global',
                                 sources = 'cnn',
                                 domains = 'cnn.com',
                                 language = 'en',
                                 # sort_by = 'date',
                                 page = 2)

In [3]:
article_list = global_news['articles']
global_headlines = [x['title'] for x in article_list]
global_articles = [x['description'] for x in article_list]

In [4]:
import pandas as pd

data = pd.DataFrame({'headline' : global_headlines, 'text' : global_articles})
data

,headline,text
0,Opinion: The ocean's 'blue carbon' can be our ...,"Our oceans store vast amounts of carbon, and p..."
1,Australian who sexually abused children in the...,An Australian man already sentenced to life in...
2,Opinion: 'Africa's COP' made some big promises...,As negotiations in the Egyptian resort of Shar...
3,Wordle frustration inspires Cambridge Dictiona...,The endless permutations of five-letter words ...
4,Disney+ beats subscriber expectations but that...,Disney's fourth quarter earnings were a mix of...
...,...,...
95,Netanyahu is back. Here's what that means for ...,Benjamin Netanyahu is set to resurrect his pol...
96,Flight carbon calculators and offsets: How do ...,Airlines and comparison portals are all offeri...
97,"As Biden ramps up for a Trump rematch, Democra...",Top Democrats see Republicans' unenthusiastic ...
98,Plant-based milk is better than dairy for the ...,"Do people really need milk, considering the im..."
99,"Opinion: Joe Biden and Elon Musk, at opposite ...",Even after Nancy Pelosi's decision to step dow...

In [8]:
from pyhere import here

data.to_csv(here('news_data.csv'), index = False)