In [1]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive

Mounted at /content/drive
/content/drive/My Drive

In [2]:
import pandas as pd
import numpy as np

In [ ]:
df_embedding = pd.read_csv("NLP Project Work/pretrain_embeddings.csv")

In [ ]:
df_embedding = df_embedding.drop('Unnamed: 0',axis = 1)

In [ ]:
df_embedding.head()

,0,1,2,3,4,5,6,7,8,9,...,374,375,376,377,378,379,380,381,382,383
0,-0.046523,0.075495,-0.024873,0.075868,-0.005978,-0.024299,0.043334,0.001233,-0.059552,-0.021740,...,0.099688,0.016138,-0.020845,-0.038916,-0.033581,-0.008367,-0.104654,0.030693,-0.039949,0.043428
1,0.061419,0.033400,0.035762,0.069942,-0.014845,-0.018498,0.038346,-0.031975,-0.052201,-0.041715,...,-0.019980,-0.005928,0.048094,0.027831,-0.053873,0.037153,0.036638,-0.066154,-0.101577,0.075056
2,0.043455,0.023629,0.024885,0.020685,0.021916,0.014600,-0.074227,-0.066417,-0.004214,-0.072977,...,0.035113,0.062477,-0.022850,-0.064698,-0.086694,0.039063,0.029862,-0.099262,-0.052627,0.107061
3,-0.031910,0.038015,0.012391,0.046932,-0.050872,-0.001777,0.057474,-0.009489,0.031962,-0.010078,...,0.017379,0.008053,-0.038283,-0.005929,-0.080325,-0.019843,0.026221,-0.042915,-0.033092,0.044191
4,-0.026735,0.029953,0.022054,0.021697,-0.032280,-0.023361,-0.067412,0.026661,0.014007,-0.013306,...,0.040590,0.006306,-0.044455,0.000514,-0.084477,0.006712,0.044485,-0.098563,-0.014368,0.102412

In [ ]:
df_embedding.shape

(1973, 384)

In [3]:
df_ner = pd.read_csv('NLP Project Work/entitied_article.csv')
df_ner = df_ner.drop('Unnamed: 0',axis = 1)

In [ ]:
# k = list()
# for i in range(len(df_ner['ner'])):
#   k.append(' '.join(df_ner['ner'][i]))
# df_ner['connected_ner']=k

In [4]:
df_ner.head(10)

,text,date,headline,label,ner,ner_labels
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,"['KARACHI', 'Sindh', 'Geo', 'News', 'Karachi',...","['I-ORG', 'I-LOC', 'I-ORG', 'I-ORG', 'I-ORG', ..."
1,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,"['Hong', 'Kong', 'Wall', 'Street', 'Hang', 'Se...","['I-LOC', 'I-LOC', 'I-LOC', 'I-LOC', 'I-MISC',..."
2,New York: Oil prices tumbled Tuesday to fresh ...,1/7/2015,oil hits new 5.5 year lows as saudis defend,business,"['New', 'York', 'Saudi', 'Arabia', 'US', 'West...","['I-LOC', 'I-LOC', 'I-LOC', 'I-LOC', 'I-LOC', ..."
3,KARACHI: Strong bulls on Friday pulled the ben...,1/9/2015,bullish kse jumps over 33000 psychological bar...,business,"['KARACHI', 'KSE', '-', '100', 'Index', 'Karac...","['I-ORG', 'I-MISC', 'I-MISC', 'I-MISC', 'I-MIS..."
4,"Singapore: Oil fell further in Asia Monday, wi...",1/12/2015,oil falls further in asian trad,business,"['Singapore', 'Asia', 'US', 'West', 'Texas', '...","['I-LOC', 'I-LOC', 'I-LOC', 'I-ORG', 'I-ORG', ..."
5,KARACHI: Wholesale market rates for sugar drop...,1/13/2015,sugar prices drop to rs 49.80 in sind,business,"['KARACHI', 'Sindh', 'Karachi', 'Sindh']","['I-ORG', 'I-LOC', 'I-LOC', 'I-LOC']"
6,TOKYO: Tokyo stocks opened 0.74 percent lower ...,1/14/2015,tokyo stocks open 0.74 percent lower,business,"['TOKYO', 'Tokyo', 'Wall', 'Street', 'Nikkei',...","['I-ORG', 'I-LOC', 'I-LOC', 'I-LOC', 'I-MISC',..."
7,HONG KONG: Hong Kong stocks edged up 0.24 perc...,1/15/2015,hong kong stocks open 0.24 percent higher,business,"['Hong', 'Kong', 'Wall', 'Street', 'Hang', 'Se...","['I-LOC', 'I-LOC', 'I-LOC', 'I-LOC', 'I-MISC',..."
8,ISLAMABAD: Long queues of vehicles on fuel sta...,1/16/2015,govt may take up to ten days to overcome petro...,business,"['Federal', 'Petroleum', 'Shahid', 'Khaqan', '...","['I-ORG', 'I-ORG', 'I-PER', 'I-PER', 'I-PER', ..."
9,ISLAMABAD: A two member committee tasked to pr...,1/20/2015,report presented to pm holds ogra responsible ...,business,"['ISLAMABAD', 'OGRA', 'Oil', 'and', 'Gas', 'Re...","['I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', 'I-ORG', ..."

In [ ]:
df_ner['label']

0       business
1       business
2       business
3       business
4       business
          ...
1968    business
1969    business
1970    business
1971    business
1972    business
Name: label, Length: 1973, dtype: object

In [ ]:
df_ner['ner'][0]

"['KARACHI', 'Sindh', 'Geo', 'News', 'Karachi', 'Transport', 'Ittehad', 'KTI', 'KTI', 'Irshad', 'Bukhari', 'Karachi', 'Compressed', 'Natural', 'Gas', 'CNG', 'Bukhari', 'Karachi', 'CNG']"

In [ ]:
df_ner.shape

(1973, 6)

In [ ]:
from numpy import dot
from numpy.linalg import norm
def cosine_similarity(a, b):
  return dot(a, b)/(norm(a)*norm(b))

In [ ]:
arr_embedding = df_embedding.to_numpy()

In [ ]:
arr_embedding.shape

(1973, 384)

In [ ]:
arr_embedding[0].shape

(384,)

In [ ]:
cosine_similarity(arr_embedding[0], arr_embedding[1])

0.15554898196726288

In [ ]:
df_ner.iloc[0]['headline']

'sindh govt decides to cut public transport fares by 7pc kti rej'

In [ ]:
pd.options.mode.chained_assignment = None
def recommendation(article_index):
  print('# Input Healine: ', df_ner.iloc[article_index]['headline'])
  print('# Input Label: ', df_ner.iloc[article_index]['label'])
  similarity_dict = {}
  for i in range(arr_embedding.shape[0]):
    similarity_dict[i] = cosine_similarity(arr_embedding[article_index], arr_embedding[i])
  similarity_ranks = list(sorted(similarity_dict.items(), key=lambda item: item[1], reverse = True))
  similarity_ranks = [i for i in similarity_ranks if i[0]!=article_index]
  top10_similar_articles = similarity_ranks[:10]

  index_list = [index for index, score in top10_similar_articles]
  score_list = [score for index, score in top10_similar_articles]
  df1 = df_ner.iloc[index_list]
  df1['cosine_similarity'] = score_list
  print('# Top 10 similar articles')
  return df1[['headline','text', 'label','cosine_similarity']]

In [ ]:
recommendation(1000)

# Input Healine:  India opt to bowl against Bangladesh in rain reduced Asia Cup fi
# Input Label:  sports
# Top 10 similar articles

,headline,text,label,cosine_similarity
941,Bangladesh put India into bat in Asia Cup opener,DHAKA: Bangladesh captain Mashrafe Mortaza won...,sports,0.912977
958,India win toss bowl against Paki,DHAKA: India captain Mahindra Singh Dhoni won ...,sports,0.883635
939,Rohits 83 lifts India to 166 6 against Banglad,DHAKA: Rohit Sharmas 55-ball 83 and late surg...,sports,0.874810
989,Pakistan win toss bowl against Sri L,DHAKA: Pakistan captain Shahid Khan Afridi won...,sports,0.873222
982,Pakistan face Bangladesh in must win game today,strong>DHAKA: Pakistan will bank a lot on thei...,sports,0.871331
980,Pakistan win toss bat against Bangladesh in do...,DHAKA: Pakistan captain Shahid Khan Afridi won...,sports,0.867156
985,Asia Cup UAE win toss decides to bat fir,DHAKA: United Arab Emirate (UAE) won the toss ...,sports,0.849027
972,Asia Cup India opt to bowl against Sri L,strong>DHAKA: India won the toss and elected t...,sports,0.842350
998,India overpower Tigers to become Asian,DHAKA: India defeated Bangladesh by eight wick...,sports,0.830616
984,India defeat UAE by 9 wi,strong>DHAKA: India enjoyed an easy victory ah...,sports,0.830314

<ipython-input-90-31a9352ebc35>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['cosine_similarity'] = score_list